.marquee-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.max-w-2xl {
  max-width: 42rem;
}
